body {
    background: rgb(27, 27, 50);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background: rgb(59, 59, 79);
    border: .1em solid white ;
    padding: 15px;
    width: 500px;
    margin: auto;
    color: white
}

div {
    text-align: center;
}

#img {
    margin-bottom: 1.25em;
}

input {
    border: .2em solid white;
    background-color: rgb(59, 59, 79);
    color: rgb(223, 223, 226);e
}

input::placeholder{
    color: rgb(223, 223, 226)
}

#button {
    background-color: rgb(10, 10, 35);
    padding: .5em .9em;
    margin-top: .5em;
}


#table {  
    width: 100%
}

table {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: .5em;
}

td {
    min-width: 15em;
    height: 1.6em;
    font-size: .8em;
  }

footer {
    color: rgb(223, 223, 226);
    text-align: center;
    font-style: italic;
    margin-top: 5em; 
}

@media (max-width: 800px) {
    section {
        width: 17em
    }
    
    input {
        width: 5em
    }
    
    td {
        min-width: 7em;
      }

    #button {   
        width: 13em;
        padding: .4em 0;
    }
    
}

@media (max-width: 402px) {
    section {
        width: 10em;
    }
}